[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Advanced Gnome Menu Configurator
Type=Application
Comment=Configurator for AGM
Exec=advancedgnomemenu --config
Icon=AGM.png
Terminal=false
Categories=Settings;DesktopSettings;
GenericName[it_IT]=
